@use '../../variables/colors.scss';
@use '../../variables/fonts.scss';
@use '../../common/common.scss';

.delivery-orders {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

  
.delivery-grid-toolbar {
    width: 40%;
    display: flex;
    padding: 0 0 1em;
    gap: 15px 15px;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
}

.create-delivery-box {
    display: relative;
    justify-content: flex-end;
    flex-direction: column;
    color: colors.$primary;
    font-family: fonts.$primary-font;
    width: 50%;
  }

.date-picker-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-delivery-details {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.delivery-details-section-header {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-top: 2rem;
  width: 100%;
  align-items: center;
}

.delivery-details-stepper {
  padding-top: 4rem;
}

.delivery-details-action {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
