@use '../../variables/colors.scss';
@use '../../variables/fonts.scss';
@use '../../common/common.scss';

.orders {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.search-bar {
  @extend .horizontal-inline-bar;
  width: 45%;
}

.top-carrot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-grid-toolbar {
  margin: 1%;
  width: 100%;
  padding: 0 0 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.center-div {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.center-box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: colors.$primary;
  font-family: fonts.$primary-font;
  width: 80%;
  margin: 1%;
}

.sales-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-body {
  flex-direction: column;
  margin: 1%;
}

.action-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin: 1%;
  padding: 1%;
}

.order-info-grid {
  display: flex;
  width: 100%;
  padding: 0 0 1em;
}

.action-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 1%;
  min-width: 80%;
}

.sales-stepper {
  width: 100%;
  margin: 1%;
}

.MuiStep-root {
  color: grey;
}

.Mui-completed {
  color: #0d6e11;
}

.Mui-active {
  color: #0096ff;
}

.sales-order-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.order-summary-card {
  display: flex;
  justify-content: flex-end;
}
