@use '../../variables/colors.scss';
@use '../../variables/fonts.scss';
@use '../../common/common.scss';

.all-customers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.data-grid-container {
  padding-top: 2rem;
}

.customer-cards {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  flex-direction: row;
}

.customer-details-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin: 1%;
  padding: 1%;
}

.customer-details-grid {
  padding-left: 1rem;
  padding-bottom: 2rem;
}

.labelText {
  font-family: 'Poppins';
  color: colors.$primary;
}

.order-overview-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin: 1%;
  padding: 1%;
}

.order-overview-grid {
  padding-left: 1rem;
}

.orders-table {
  padding-top: 2rem;
  padding: 1%;
}

.order-grid-toolbar {
  margin: 1%;
  width: 100%;
  padding: 0 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-table {
  padding: 1%;
  padding-bottom: 1rem;
}

.data-grid-container-newsletter {
  padding-top: 1rem;
}

.view-newsletters {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.scheduled-newsletters-toolbar {
  width: 40%;
  display: flex;
  padding: 0 0 1em;
  gap: 15px 15px;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
}

.newsletter-templates {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.newsletter-templates-toolbar {
  width: 40%;
  display: flex;
  padding: 0 0 1em;
  gap: 15px 15px;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
}

.create-newsletter-template {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.create-newsletter-template-top-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  padding-bottom: 0rem;
}

.create-newsletter-template-heading {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  width: 100%;
  align-items: center;
}

.preview-newsletter-button-container {
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  width: max-content;
  padding-right: 4rem;
  gap: 10px 10px;
  margin: 2% 2% 2% 2%;
  width: 40%;
}

.create-newsletter-grid {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.create-newsletter-grid-label-text {
  font-family: 'Poppins';
  color: colors.$primary;
}

.create-newsletter-button-container {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
}

.view-newsletter-template {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.view-newsletter-template-top-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  padding-bottom: 0rem;
}

.view-newsletter-template-heading {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-top: 2rem;
  width: 100%;
  align-items: center;
}

.view-newsletter-template-edit-button-container {
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  width: max-content;
  padding-right: 4rem;
  gap: 10px 10px;
  margin: 2% 2% 2% 2%;
  width: 40%;
}

.newsletter-alert {
  display: flex;
  flex-direction: row;
  padding-left: 4rem;
  padding-bottom: 2rem;
}

.view-newsletter-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 1%;
  padding: 1%;
}

.view-newsletter-grid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.view-newsletter-template-grid-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.view-newsletter-template-label-text {
  font-family: 'Poppins';
  color: colors.$primary;
  padding-left: 2rem;
  white-space: nowrap;
}

.view-newsletter-template-value-text {
  padding-left: 2rem;
}

.view-newsletter-button-container {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
}

.modal-top-bar {
  background-color: colors.$primary;
  height: 100px;
}

.modal-top-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-logo {
  position: absolute;
  z-index: 10;
  top: 45px;
  left: 250px;
}

.modal-icon-container {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: flex-start;
}

.modal-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.preview-template-title-text {
  font-family: 'Poppins';
  padding-top: 2rem;
}

.preview-template-body-text {
  padding: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.preview-template-discount-container {
  display: flex;
  flex-direction: row;
}

.preview-template-discount-label {
  font-family: 'Poppins';
}

.preview-template-discount-code {
  font-family: 'Poppins';
  color: colors.$secondary;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  text-decoration: underline;
}

.modal-bottom-bar {
  display: flex;
  width: 600px;
  background-color: colors.$primary;
  height: 60px;
}

.schedule-newsletter {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.schedule-newsletter-heading {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  padding-left: 2rem;
}

.orders-chart {
  padding-top: 2rem;
  padding: 1%;
}
